body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calculator{
    background-color: rgb(24, 23, 26);
    color:white;
    height: 320px;
    width: 220px;
}
#display{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: 200px;
}
button{
    background-color: rgb(128, 123, 123);
    padding: 10px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin: 5px;
    border-width: bold;
}
.operator{
    background-color: rgb(241, 100, 75);
    border: solid rgb(241, 100, 75);
}
#equals{
    border: solid rgb(194, 193, 193);
    background-color: rgb(194, 193, 193);
    width: 210px;
}